---
import { IconEdit, IconChecklist, IconRotateRectangle } from "@tabler/icons-preact";
import Website from "./website.astro";
import Checkout from "../components/checkout";

const { frontmatter } = Astro.props;
const slug = frontmatter.url.split("/").at(-1);
---

<Website title={frontmatter.name + " - Deploid Studio"}>
  <div class="container mx-auto px-4 py-14">
    <div class="flex flex-col md:flex-row gap-4 justify-between">
      <div class="flex flex-col gap-2 flex-1">
        <h1 class="text-6xl font-medium text-black">{frontmatter.name}</h1>
        <p class="text-2xl text-gray-500">{frontmatter.description}</p>
      </div>
      <div class="flex gap-4 items-end flex-1">
        {frontmatter.tags.map((tag: string) => <span class="bg-zinc-200 text-zinc-600 px-3 py-1 rounded-full uppercase text-sm font-bold">{tag}</span>)}
      </div>
    </div>
  </div>
  <div class="flex gap-6 px-4 overflow-x-auto snap-x bg-gray-100 py-10">
    {frontmatter.images.map((image: string) => <img src={image} class="aspect-[9/19.5] bg-gray-100 w-[320px] shrink-0 rounded-xl overflow-hidden shadow-md object-fit snap-center"/>)}
  </div>
  <div class="container mx-auto px-4 pt-10 md:pt-20">
    <div class="flex flex-col lg:flex-row items-stretch gap-20 md:gap-8">
      <div class="flex-1 flex flex-col gap-12">
        <div class="prose">
          <slot/>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="flex flex-col gap-2 px-6 py-4 bg-gray-100 text-gray-600 rounded-xl">
            <IconRotateRectangle size={34}/>
            <h3 class="text-xl font-semibold">Start light years ahead</h3>
            <p class="text-gray-400">Jump right to the important details of your digital product with a solid starter kit foundation</p>
          </div>
          <div class="flex flex-col gap-2 px-6 py-4 bg-gray-100 text-gray-600 rounded-xl">
            <IconChecklist size={34}/>
            <h3 class="text-xl font-semibold">Designated Project Manager</h3>
            <p class="text-gray-400">Need to make changes and solve problemas? Contact your designated Project Manager to get stuff done.</p>
          </div>
        </div>
      </div>
      <div class="flex-1 flex flex-col max-w-sm gap-4">
        <Checkout slug={slug} client:visible/>
      </div>
    </div>
  </div>
</Website>