---
// Supports weights 100-800
import "@fontsource-variable/jetbrains-mono";
import "../styles/global.css";

import {
    IconBrandTwitter,
    IconBrandFacebook,
    IconBrandLinkedin,
} from "@tabler/icons-preact";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>Marcus Felix</title>
		<script is:inline>
			const theme = (() => {
				if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
					return localStorage.getItem('theme');
				}
				if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
					return 'dark';
				}
				return 'light';
			})();
		
			if (theme === 'light') {
				document.documentElement.classList.remove('dark');
				document.documentElement.classList.add('light');
			} else {
				document.documentElement.classList.add('dark');
				document.documentElement.classList.remove('light');
			}
			window.localStorage.setItem('theme', theme);
		</script>
    </head>
    <body class="font-mono bg-background text-foreground-900 flex flex-col md:gap-30">
        <Header />
        <section>
            <div class="container mx-auto my-10">
                <img
                    src={frontmatter.image.url}
                    alt={frontmatter.image.alt}
                    class="w-full"
                />
            </div>
            <article class="flex flex-col gap-12 mx-auto container max-w-3xl px-4">
                <div class="flex flex-col gap-4">
                    <h1
                        class="md:text-6xl text-5xl font-bold tracking-tight"
                    >
                        {frontmatter.title}
                    </h1>
                    <h3 class="md:text-3xl text-2xl text-foreground-500 font-light">
                        {frontmatter.description}
                    </h3>
                </div>
                <div class="prose prose-xl">
                    <slot />
                </div>
                <div>
                    <div class="flex items-center gap-2">
                        <a
                            href={`https://twitter.com/intent/tweet?text=https://marcusfelix.pages.dev${Astro.props.url}`}
                            class="twitter-share-button"
                            target="_blank"><IconBrandTwitter /></a
                        >
                        <a
                            href={`https://www.facebook.com/sharer/sharer.php?u=https://marcusfelix.pages.dev${Astro.props.url}`}
                            class="twitter-share-button"
                            target="_blank"><IconBrandFacebook /></a
                        >
                        <a
                            href={`https://www.linkedin.com/sharing/share-offsite/?url=https://marcusfelix.pages.dev${Astro.props.url}`}
                            class="twitter-share-button"
                            target="_blank"><IconBrandLinkedin /></a
                        >
                    </div>
                    <div class="text-foreground-500 py-4">
                        By {frontmatter.author} @ {
                            new Date(frontmatter.created).toLocaleDateString(
                                "en-US",
                                {
                                    year: "numeric",
                                    month: "2-digit",
                                    day: "2-digit",
                                },
                            )
                        }
                    </div>
                </div>
            </article>
        </section>
        <Footer />
    </body>
</html>
